@media only screen and (max-width: 768px) {

  :root {
    --page-P: 13px;
    --nav-H: 80px;
    --shortcuts-H: 70px;
    --question-H: 6vw;
    --BR: 30px;
  }

  .nav__logo {
    flex: 0 0 70%;
  }

  .nav__logo > .logo-img {
    display: none;
  }
  .nav__logo > .logo-img--mobile {
    display: block;
    width: 100%;
    height: auto;
  }

  .nav__link, .nav__lang {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .shortcuts__link {
    font-size: 6.5vw;
  }

  .shortcuts__link--subscribe {
    display: none;
  }

  #graph-container.show-graph {
    /* height: unset; */
    display: flex;
    flex-direction: column;
    padding: 0 var(--page-P);
  }

  #graph-container.show-graph #graph {
    position: relative;
    flex: 0 0 55%;
    width: 100%;
    height: unset;
    left: unset;
  }

  #graph-container:not(.show-graph) #swiper {
    position: relative;
    flex: 0 0 55%;
    height: unset;
  }

  .landing__play-button {
    flex: 1 0 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(45% - var(--page-P) * 2);
    position: relative;
    top: unset; right: unset;
    width: calc(100vw - var(--page-P) * 2);
    height: 50vw;
    margin: var(--page-P) auto 0;
  }

  .intro__cover-graphic {
    display: none;
  }

  .intro__statement {
    font-size: 5vw;
  }

  .intro__title-box {
    flex-direction: column;
    font-size: 9vw;
    justify-content: center;
  }

  .phrase {
    width: 65vw;
    margin: 2vw 0 1vw;
  }

  .intro__subtitle-box {
    padding: 13vw 10vw;
    font-size: 5vw;
  }

  .intro__text-box {
    padding: 7vw 0;
  }
  .intro__text-box > p{
    width: 80vw;
    font-size: 4.7vw;
  }

  .intro__signers > h3 {
    font-size: 5.4vw;
  }

  .profile-list {
    width: 55%;
  }

  .profile {
    flex: 0 0 100%;
  }

  .profile__name {
    margin-top: 1em;
    font-size: 4.7vw;
  }
  .profile__title {
    font-size: 4.7vw;
  }

  .news__title {
    font-size: 5.4vw;
  }
  .news-card {
    flex-basis: 100%;
    margin: 0 0 var(--page-P);
  }
  .news-card:after {
    padding-bottom: 66%;
  }
  .news-card > h3 {
    font-size: 6vw;
    margin: 5% 30% 5% 3%;
  }

  .footer {
    margin-top: 15vw;
    flex-wrap: wrap;
  }
  .footer__left-box {
    flex: 0 0 100%;
    font-size: 4vw;
  }
  .footer__middle-box {
    flex: 0 0 100%;
    font-size: 4vw;
    margin-top: 4vw;
  }
  .form__input-group {
    flex-wrap: wrap;
  }
  .form__input--email {
    flex: 0 0 70%;
  }
  .form__input--submit {
    flex: 0 0 25%;
    margin: 0;
  }
  .share-button {
    height: 7vw;
    margin-top: var(--page-P);
  }
  .footer__right-box {
    flex: 0 0 100%;
    font-size: 4vw;
    margin-top: 6vw;
  }
  

  .signform {
    width: 80vw;
  }

  .signform-input-text {
    height: 12vw;
    margin-bottom: 5vw;
    padding-left: 3vw;
    font-size: 4.5vw;
  }

  .signform__name, .signform__gender, .signform__city, .signform__country {
    flex-basis: 100%;
  }

  .custom-select {
    height: 12vw;
    margin-bottom: 5vw;
    font-size: 4.5vw;
  }

  .current-option {
    padding-left: 3vw;
  }
  .options-box {
    max-height: 60vw;
  }
  .option {
    height: 10vw;
  }
  .custom-select-arrow {
    right: 3vw;
  }

  .signform__agree {
    margin-bottom: 8vw;
  }
  .signform__agree > div {
    width: 5vw;
    height: 5vw;
  }
  #error-message {
    font-size: 4.5vw;
    margin-bottom: 8vw;
  }

  .signform-input-submit {
    height: 12vw;
    font-size: 4.5vw;
  }


}